.wrap-tg-nph-theloai{
    text-align: left;
    border-top: 2px solid antiquewhite;
    border-bottom   :2px solid antiquewhite;
    padding: 30px 45px;
    font-weight: 800;
    font-family: 'Roboto', Tahoma, Arial, helvetica, sans-serif;
    font-style: italic;
    color: #838383;
    font-size: 15px;
    
}
.tai-lieu-lien-quan{
    padding: 0px 45px;
}
.ten-tailieu{
    font-size: 23px;
    line-height: 1.3em;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
}
.tailieu-lienquan{
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: #007F7B;
}
.mota{
    font-family: 'Roboto', Tahoma, Arial, helvetica, sans-serif;
    font-size: 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
}
.nguoidang-luottai{
    text-align: left;
    padding: 30px 60px;
    font-weight: 800;
    font-family: 'Roboto', Tahoma, Arial, helvetica, sans-serif;
    font-style: italic;
    color: #838383;
    font-size: 15px;
    display: flex;
}
.content-binhluan{
    font-family: 'Roboto', Tahoma, Arial, helvetica, sans-serif;
    font-style: italic;
    color: #838383;
    font-size: 15px;

}
