.ant-carousel .slick-slide {
    text-align: center;
    height: 340px;
    overflow: hidden;
    background-color: #F3F7F9;
    width: 100%;
}

.ant-carousel .slick-dots li.slick-active button{
    background: blue;
}

.ant-carousel .slick-slide h3 {
    color:aqua;
}
.wrap-icon-countClick{
    display: flex;
}
.col-ebookcon{
    border: 1px solid antiquewhite;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.wrap-text-ebook{
    width: 160px;
    padding: 0 10px;
    margin-top: 2px;
}
.text-ebook{
    line-height: 1.25em;
    font-size: 12px;
    height: 32px;
    letter-spacing: 1px;
    overflow: hidden;
    letter-spacing: 1px;
    margin-bottom: 4px;
    font-weight: 300;
}
.wrap-col-ebookcon{
    margin: 0 calc((1183px - 800px)/10);
}
