
@import './pages/index.css';
@import './pages/Content/Components/EbookMoi/Ebook.css';
@import './pages/Content/Components/XemTaiLieu/xemtailieu.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body, #root {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  
}
.ant-comment-content-author > a, .ant-comment-content-author > span {
  padding-right: 10px;
  font-size: 13px;
  line-height: 18px;
  
}
.ant-comment-content-author-name{
  color: rgb(0, 127, 123);
  font-weight: 600;
}
.ant-list-header{
  font-size: 13px;
  font-weight: 600;
  color:#008dff;
}

